@import "tailwindcss";

html, body {
  font-family: 'Noto Sans Lao', sans-serif;
}

.ant-table {
  font-family: 'Noto Sans Lao', sans-serif;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  font-family: 'Noto Sans Lao', sans-serif;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-layout-sider {
  background: rgb(253, 252, 252) !important;
}

.ant-menu {
  font-family: 'Noto Sans Lao', sans-serif;
}
.ant-layout-content {
  font-family: 'Noto Sans Lao', sans-serif;
}
:where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1d4w9r2).ant-menu-light>.ant-menu .ant-menu-item-selected {
  border-radius: 0;
  border-right: 3px solid #1890ff;
  width: 98%;
}

.ant-menu-item-active {
  background: none !important;
  color:#1890ff !important;
}

.ant-menu-item-selected {
  background-color: #e6f7ff !important;
}

.colors {
  color:#1890ff !important;
}

:where(.css-1d4w9r2).ant-layout-sider {
  min-height: 100vh !important;
}